<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <title><%= title %></title>
            <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" media="screen"></link>
            <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.min.css"></link>
            <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
            <script type="text/javascript" src="/javascripts/jquery.js"></script>
            <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
            <script type="text/javascript" src="/javascripts/additional-methods.min.js"></script>
            <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
            <script type="text/javascript" src="/javascripts/form-validator.js"></script>
            <script type="text/javascript" src="/javascripts/date-formatter.js"></script>
            <script type="text/javascript" src="/javascripts/moment.min.js"></script>
            <script type="text/javascript" src="/javascripts/misc.js"></script>
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="resources/assets/js/html5shiv.js"></script>
            <script src="resources/assets/js/respond.min.js"></script>
            <![endif]-->